.speech{
    color:black;
    font-family:'Courier New', Courier, monospace;
    font-size: medium;
}
.direction{
    color:black;
    font-size:x-large;
    font-family:serif;
    background-color: azure;
}
.direction:hover{
    background-color:brown;
    color:bisque;
}
.firstCitizen{
    color:orange;
}
.secondCitizen{
    color:pink
}
.thirdCitizen{
    color:cyan;
}
.fourthCitizen{
    color:magenta;
}
table{
    border: 10px solid orangered;
    color:red;
    text-align: center;
    padding: 25px;
    margin:4px;
}
tr:nth-child(even) {
    background-color: cyan;
  }
  a:hover{
     color:blue;
     font-family:serif;
     font-size:xx-large;
     background-color: aqua;
  }